
.admin-landing-form {
    text-align: center;

}

.control {
    margin-bottom: 20px;
}
.start-vote {
    margin-top: 20px;
    margin-right: 10px;
    width: 45%;

}
.stop-vote {
    margin-top: 20px;
    margin-left: 10px;
    width: 45%;
}
hr {
    margin-top: 20px;
}
.administrate-expo {
margin: auto;
margin-top: 20px;
width: 45%;
display: block;
}

.admin-logout {
margin-top: 60px;
width: 40%;
margin-left: auto;
margin-right: auto;
text-align: center;
display: block;
}

@media only screen and (max-width: 816px) {
    .start-vote {
        margin-right: 0px;
        width: 100%;

    }
    .stop-vote {
        margin-left: 0px;
        width: 100%;
    }

    .administrate-expo{
    width: 100%;
    margin-top: 40px;
    }

    .admin-logout{
    width: 100%;

    }
}