
.admin-expo-config-top {
    margin-bottom: 40px;
    text-align: center;
    color: var(--color-dark);
}

.admin-expo-config-title {
    margin-bottom: 10px;
    text-align: center;
    color: var(--color-dark);
}

.admin-expo-config-box {
    margin-bottom: 20px;
}

.admin-expo-config-box h2 {
    margin-top: 0;
}

.admin-expo-config-box label {
    display: inline-block;
}

.admin-expo-config-input-inline[type="text"] {
    width: 53%;
    float: right;
    margin-bottom: 20px;
}

.admin-expo-config-startdate,
.admin-expo-config-enddate {
    float: left;
    width: 47%;
    padding-left: 3%;
    padding-right: 3%;
}
.admin-expo-config-enddate {
    border-left: 1Spx dashed #fff;
}

@media only screen and (max-width: 860px) {
    .admin-expo-config-startdate,
    .admin-expo-config-enddate {
        float: none;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .admin-expo-config-enddate {
        margin-top: 40px;
    }
}