
.admin-landing-top {
    width: 70%;
    display: block;
    
}
.admin-landing-bot {
    display: block;
}


.admin-pb {
    width: 20%;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.admin-name {
    text-align: center;
}
.admin-landing-links {
    text-align: center;

}
.choose-date-admin {
    margin-bottom: 20px;
}

.control {
    margin-bottom: 20px;
}
.start-vote {
    margin-right: 10px;
}
.stop-vote {
    margin-left: 10px;
}
