
.choose-left {
    float: left;
    border-radius: 15px;
    width: var(--box-400);
    padding: 40px;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.choose-title {
    margin-top: 0;
}

.exhibition {
    margin-bottom: 20px;
}

.projectnr {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.vote-cta {
    width: 100%;
}

.choose-right {
    float: right;
    width: var(--box-400);
}

@media only screen and (max-width: 930px) {
    .choose-left {
        position: relative;
        float: none;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        transform: none;
    }

    .choose-right {
        float: none;
        width: 200px;
        margin-right: auto;
        margin-bottom: 40px;
        margin-left: auto;
    }
}