
.login-left {
    float: left;
    width: var(--box-400);
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.login-title {
    margin-top: 0;
}

.login label {
    display: block;
    padding-bottom: 5px;
}

.tlfnumber {
    display: block;
}

.sign-in-cta {
    margin-top: 20px;
    width: 100%;
}

.login-right {
    float: right;
    width: var(--box-400);
}

/* ===== ADMIN LOGIN ===== */

.username {
    margin-bottom: 10px;
}

.password {
    margin-bottom: 10px;
}

.login-admin-cta {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}
.login-error {
    color: red;
}

@media only screen and (max-width: 930px) {
    .login-left {
        position: relative;
        float: none;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        transform: none;
    }

    .login-right {
        float: none;
        width: 200px;
        margin-right: auto;
        margin-bottom: 40px;
        margin-left: auto;
    }
}