
.login-left {
    float: left;
    width: var(--box-400);
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.login-title {
    margin-top: 0;
}

.login label {
    display: block;
    padding-bottom: 5px;
}

.tlfnumber {
    display: block;
}

.sign-in-cta {
    margin-top: 20px;
    width: 100%;
}

.login-right {
    float: right;
    width: var(--box-400);
}

/* ===== ADMIN LOGIN ===== */

.username {
    margin-bottom: 10px;
}

.password {
    margin-bottom: 10px;
}

.login-admin-cta {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}