/* Global variables goes here */
:root {
    --color-dark: #242424;
    --box-400: 400px;
    --mq-small-h: 600px;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.hidden, [hidden] {
    display: none !important;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

.sr-only.focusable:active, .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix::before, .clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: linear-gradient(var(--purple) #591fe0);
    background-color: #fff;
    background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
    height: 100vh;
    line-height: 1.5;
    color: white;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Squada One', cursive;
}

h2 {
    font-size: 32px;
}

img {
    width: 100%;
    height: auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

a:hover {
    text-decoration: none;
}

input[type=text],
input[type=password],
input[type=tel],
input[type=email],
select {
    padding: 8px 10px;
    border: 0;
    border-radius: 15px;
    width: 100%;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=email]:focus,
select:focus {
    outline: none;
}

input[type='radio'] {
    margin-right: 10px;
    transform: scale(2);
}

.center-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.container-special {
    margin: 0 auto;
    width: 90%;
    max-width: 860px;
    overflow: hidden;

}

@media only screen and (min-height: 900px) {
    .container-special {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}

@media only screen and (max-height: 899px) {
    .container-special {
        margin-top: 40px;
    }
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 960px;
}

.button-default {
    background-color: peachpuff;
    display: inline-block;
    border: none;
    color: #000;
    text-decoration: none;
    padding: 12px 30px;
    cursor: pointer;
    font-family: 'Squada One', cursive;
    font-size: 16px;
    border-radius: 15px;
    opacity: .6;
    transition: all .25s ease-in-out;
}

.button-default:hover {
    opacity: .85;
}

.transparent-bg {
    border-radius: 15px;
    background: rgba(61, 40, 73, 0.8);
    padding: 40px;
}

.table-numbering {
    display: inline-block;
    min-width: 40px;
    margin-right: 10px;
    padding: 8px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    background-color: #444;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .table-numbering {
        position: absolute;
        left: 5px;
        top: 20px;
    }
}
