
.project {
    margin-top: 40px;
}

.project-left {
    float: left;
    border-radius: 15px;
    width: 300px;
    margin-right: 40px;
}

.vis-project-title {
    display: block;
}

.number {
    margin-bottom: 20px;
}

.vote-project-cta {
    width: 100%;
}

.project-right {
    float: right;
    width: 600px;
}

.project-image {
    margin-bottom: 20px;
}

.project-form-left {
    float: left;
    margin-right: 20px;
    width: 100px;
}

.project-form-left label {
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 15px;
}

.project-form-right {
    float: right;
    width: var(--box-400);
}

.project-vote {
    margin-top: 60px;
}

.project-cta {
    margin-top: 15px;
    width: 100%;
}