
.view-results-table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    border-spacing: 0;
    color: #444;
    background-color: rgba(255, 255, 255, .95);
}

.view-results-table tr:nth-child(2n) {
    background-color: #e6e6e6;
}

.view-results-table th {
    padding: 16px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    font-size: 24px;
    font-family: 'Squada One', cursive;
}

.view-results-table td {
    position: relative;
    padding: 16px;
}

.view-results-col1 {
    width: 60%;
}

.vote-again-cta {
    margin-top: 40px;
    width: 100%;
}

.vote-success-tilbake {
    display: inline-block;
    margin-top: 20px;
    color: #000;
}

@media only screen and (max-width: 600px) {
    .view-results-table {
        padding: 10px;
    }

    .view-results-table-head {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .view-results-table td {
        display: block;
        text-align: right;
        padding-left: 50px;
    }

    .view-results-table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: capitalize;
      }
}