
.vote-success-inner {
    margin: 0 auto;
    width: 500px;
}

.vote-success-title {
    margin-top: 0;
    text-align: center;
}

.vote-success-links {
    margin-top: 20px;
    text-align: center;
}

.view-results,
.new-vote {
    margin-left: 2%;
    margin-right: 2%;
    width: 45%;
}

.vote-success-tilbake {
    display: inline-block;
    margin-top: 20px;
    text-align: left;
    color: #000;
}

.vote-success-tilbake:hover {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {

    .vote-success-inner {
        width: 300px;
    }

    .vote-success-title {
        margin-top: 0;
        text-align: center;
        font-size: 26px;
    }

    .vote-success-links {
        margin-top: 20%;
        text-align: center;
    }

    .view-results,
    .new-vote {
        width: 100%;
        padding: 0 2px;
    }
}